body {
  overflow-x: hidden; }

.navbar {
  border-bottom: #20bf6b 4px solid;
  min-height: 4.5rem !important;
  z-index: 1;
  position: relative;
  background-color: #222629; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding: 0 1rem; }

.logo {
  width: 40px;
  height: 40px; }

.nav_link {
  color: #f7f7f7; }

.nav_link:hover {
  color: #dddddd;
  text-decoration: none; }

.nav_li {
  margin-top: 10px; }

.nav_item {
  background-color: #222629;
  margin-top: 4px;
  margin-bottom: 4px;
  border: solid #535353 2px;
  font-size: 1.1rem;
  padding: 0 1rem; }

.nav_ul {
  list-style-type: none;
  padding: 10px 18px; }

.navbar-expand-sm .navbar-nav .dropdown-menu {
  min-width: 13.5rem; }

.modal-backdrop {
  z-index: 0;
  position: fixed; }

/* Main Css and Common Css */
.main {
  background-color: #eae7dc;
  position: relative;
  min-height: calc(100vh - 4.5rem); }

#main-footer {
  position: absolute;
  background-color: #222629 !important;
  bottom: 0;
  width: 100%;
  height: 4rem; }

#content-wrap {
  padding-bottom: 4rem; }

.sticky-top {
  z-index: 0;
  top: 0.5rem; }

label {
  font-weight: 700; }

.login-quote {
  line-height: 1.2;
  font-weight: 300;
  font-size: 45px; }

/* Cards */
.bg-card {
  background-color: #f2f2f2; }

.bg-body {
  background-color: #f2f2f2; }

/* Are you sure modal */
.modal-confirm {
  color: #636363;
  width: 400px; }

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px; }

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative; }

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 20px 0 -10px; }

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px; }

.modal-confirm .modal-body {
  color: #999; }

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px; }

.modal-confirm .modal-footer a {
  color: #999; }

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e; }

.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px; }

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important; }

.modal-confirm .btn-info {
  background: #c1c1c1; }

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8; }

.modal-confirm .btn-danger {
  background: #f15e5e; }

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535; }

.trigger-btn {
  display: inline-block;
  margin: 100px auto; }

.no-bold {
  font-weight: 400 !important; }

.filter-table td,
th {
  padding: 0 5px; }

@media (max-width: 767px) {
  .small-button {
    margin-bottom: 1.5rem !important; }

  .small-card {
    margin: 2rem 0 !important; }

  .small-header {
    font-size: 2.5rem;
    font-weight: 300; }

  .small-head-padding {
    padding-top: 1rem; }

  .small-table {
    display: none; }

  .small-intern-title {
    margin-top: 2rem;
    font-size: 2rem; }

  .small-intern-subtitle {
    margin-top: 2rem;
    font-size: 1.2rem; }

  .intern-card {
    margin-top: 1.5rem; }

  .card-form {
    margin-bottom: 1rem; }

  .card-p p {
    display: inline-block; } }
@media (max-width: 575px) {
  .small-header {
    font-size: 2rem;
    font-weight: 300; }

  .small-image {
    width: 15rem;
    height: 12rem; }

  .small-intern-card {
    text-align: center;
    display: inline-block; }

  .small-intern-title {
    margin-top: 0rem;
    font-size: 1.2rem; }

  .small-intern-subtitle {
    margin-top: 0rem;
    font-size: 0.8rem; }

  .count-disp {
    margin-top: 1rem; }

  .chart {
    width: 100% !important;
    height: auto !important; } }
@media (max-width: 1200px) {
  .container {
    max-width: 99%; } }
@media (min-width: 1400px) {
  .small-intern-title {
    margin-top: 0.5rem;
    font-size: 2.2rem; }

  .small-intern-subtitle {
    margin-top: 1.5rem;
    font-size: 1.2rem; }

  .sticky-top {
    z-index: 0;
    top: 3rem !important; } }
@media (max-width: 767px) {
  .small-filter {
    padding-left: 10rem;
    padding-right: 10rem; } }
@media (max-width: 575px) {
  .small-filter {
    padding-left: 5rem;
    padding-right: 5rem; } }
@media (max-width: 400px) {
  .small-filter {
    padding-left: 2rem;
    padding-right: 2rem; } }
@media (max-width: 825px) {
  .container {
    max-width: 100%; } }
@media (max-width: 1000px) {
  .smaller-header {
    font-size: 2.5rem;
    font-weight: 300; } }
@media (min-width: 500px) {
  .anyClass {
    height: auto;
    overflow-y: scroll;
    padding-right: 0rem !important; } }
@media (min-width: 750px) {
  .anyClass {
    min-height: 25rem;
    overflow-y: scroll;
    padding-right: 0rem !important; } }
@media (min-width: 1000px) {
  .anyClass {
    overflow-y: hidden;
    height: auto;
    padding-right: 0rem !important; } }
@media (min-width: 768px) {
  #collapse1 {
    display: block; } }
@media (max-width: 415px) {
  .modal-responsive {
    width: 85%; } }
.anyClass::-webkit-scrollbar {
  width: 5px; }

.anyClass::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e2e2e2;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: 10px; }

.anyClass::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: calc(100% - 2rem); }

.anyClass::-webkit-scrollbar-thumb:hover {
  background: #94989c; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("./../images/image1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("./../images/image2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("./../images/image3.jpg");
  background-size: cover; }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("./../images/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

#video-play {
  position: relative;
  min-height: 200px;
  background: url("./../images/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }

#video-play a {
  color: #fff; }

#page-header {
  height: 200px;
  background: url("./../images/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px; }

.about-img {
  margin-top: -50px; }

#main-header img {
  width: 100%;
  height: 13rem; }

.port-item {
  width: 50%; }

.port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

.bg-black {
  color: #fff;
  background: #000; }

.font-increase {
  font-size: 2rem; }

.head-internship {
  font-size: 60px; }

.bg-head {
  background-color: #222222; }

#page-header {
  height: 150px;
  /* background: #636363;
  color: #fff; */
  border-bottom: 1px #eee solid;
  padding-top: 25px; }

@media (min-width: 950px) {
  .small-resume {
    height: 500px; } }
@media (min-width: 576px) {
  #main-header img {
    width: calc(100% - 50%);
    margin-left: 25%; } }
@media (min-width: 786px) {
  #main-header img {
    width: 100%;
    margin-left: 0%; } }
@media (max-width: 415px) {
  .head-internship {
    font-size: 40px !important; } }
